<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
    <style>
        .btn1 {
            display: inline-block;
            background: green;
            color: #fff;
            padding: 1rem 1.5rem;
            text-decoration: none;
            border-radius: 3px;
        }

        .btn2 {
            display: inline-block;
            background: darkblue;
            color: #fff;
            padding: 1rem 1.5rem;
            text-decoration: none;
            border-radius: 3px;
        }
    </style>
</head>
<body>

<div align="center">
    <a href="/login" class="btn1">Login</a>
    <a href="/registration" class="btn2">Registration</a>
</div>

</body>
</html>